<div id="extended-event-edit">
    <div class="form-edit-event overflow-auto">
        <form>
            <h1 class="h3 mb-3 fw-normal">Create Event</h1>
            <img src="{{ event.bannerImage }}" id="preview-banner" alt="Preview">
            <div class="form-floating">
                <select class="form-select" id="user-select" aria-label="User select" disabled>
                    <option selected="{{ event.creator }}">{{ event.creator }}</option>
                </select>
                <label for="user-select">Selected User</label>
            </div>
            <div class="form-floating">
                <input type="input" class="form-control" id="name" placeholder="Event Name" value="{{ event.name }}" required>
                <label for="name">Event Name</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" id="description" placeholder="Event Description" required>{{ event.description }}</textarea>
                <label for="description">Event Description</label>
            </div>
            <div class="form-floating">
                <input type="datetime-local" class="form-control" id="date_start" placeholder="Start Time" value="{{ event.dateStart }}" required>
                <label for="date_start">Start Time</label>
            </div>
            <div class="form-floating">
                <input type="datetime-local" class="form-control" id="date_end" placeholder="End Time" value="{{ event.dateEnd }}" required>
                <label for="date_end">End Time</label>
            </div>
            <div class="form-floating">
                <input type="input" class="form-control" id="room" placeholder="Room" value="{{ event.location.room }}" required>
                <label for="room">Room</label>
            </div>
            <div class="form-floating">
                <input type="input" class="form-control" id="address" placeholder="Address" value="{{ event.location.address }}" required>
                <label for="address">Address</label>
            </div>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="edit_banner_photo" accept="image/png, image/jpeg" placeholder="Banner Photo" required>
                <label class="input-group-text" for="edit_banner_photo">Banner Photo</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="unsafe_admin">
                <label class="form-check-label" for="unsafe_admin">Skip scanning?</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Edit Event</button>
        </form>
        <div id="alerts-placeholder"></div>
    </div>
    <div class="b-example-divider"></div>
    <div id="page-content-events-view"></div>
</div>

<style>
    #extended-event-edit {
        display: flex;
    }

    .form-edit-event {
        width: 100%;
        max-width: 800px;
        padding: 15px;
        margin: 0 auto;
        flex: auto;
    }
    
    #preview-banner {
        max-width: 800px;
        max-height: 200px;
    }
</style>

<script>
    $(document).ready(function() {
        $('form button').click(function(e) {
            e.preventDefault();
            let data = {
                user_id: $('#user-select').val(),
                name: $('#name').val(),
                description: $('#description').val(),
                dateStart: $('#date_start').val()+":00.0",
                dateEnd: $('#date_end').val()+":00.0",
                location: {
                    room: $('#room').val(),
                    address: $('#address').val()
                },
                bannerImage: $('#preview-banner').attr('src'),
                creator: $('#user-select').val(),
                unsafeAdmin: $('#unsafe_admin').is(':checked')
            }
            console.log(data);
            $.ajax({
                url: '/admin/event/{{ event.id }}/edit',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function(response) {
                    $('#alerts-placeholder').html(`<div class="alert alert-success" role="alert">Event edited successfully</div>`);
                },
                error: function(response) {
                    console.log(response);
                    $('#alerts-placeholder').html(`<div class="alert alert-danger" role="alert">${response.responseText}</div>`);
                }
            });
        });

        $('#edit_banner_photo').change(function(e) {
            let file = e.target.files[0];
            let filesize = ((file.size/1024)/1024).toFixed(10);
            if (filesize < 10) {
                let reader = new FileReader();
                reader.onload = function(e) {
                    $('#preview-banner').attr('src', e.target.result);
                }
                reader.readAsDataURL(file);
            } else {
                $('#alerts-placeholder').html('<div class="alert alert-danger" role="alert">File size too large. Please upload a file less than 10MB</div>');
            }
        });
    });
</script>